
## SQL exercises

In this lecture we'll practice performing SQL queries using the Python SQLite module and the `flights` database:

In [4]:
import sqlite3
con = sqlite3.connect("flights.sqlite")


cur = con.cursor()

In [6]:
# Get the list of tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()

# For each table, get its schema
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")
    cur.execute(f"PRAGMA table_info({table_name});")
    columns = cur.fetchall()
    for col in columns:
        print(f"  {col[1]} ({col[2]})")

Table: flights
  year (INTEGER)
  month (INTEGER)
  day (INTEGER)
  dep_time (INTEGER)
  sched_dep_time (INTEGER)
  dep_delay (REAL)
  arr_time (INTEGER)
  sched_arr_time (INTEGER)
  arr_delay (REAL)
  carrier (TEXT)
  flight (INTEGER)
  tailnum (TEXT)
  origin (TEXT)
  dest (TEXT)
  air_time (REAL)
  distance (REAL)
  hour (REAL)
  minute (REAL)
  time_hour (REAL)

Table: airports
  faa (TEXT)
  name (TEXT)
  lat (REAL)
  lon (REAL)
  alt (REAL)
  tz (REAL)
  dst (TEXT)
  tzone (TEXT)

Table: weather
  origin (TEXT)
  year (INTEGER)
  month (INTEGER)
  day (INTEGER)
  hour (INTEGER)
  temp (REAL)
  dewp (REAL)
  humid (REAL)
  wind_dir (REAL)
  wind_speed (REAL)
  wind_gust (REAL)
  precip (REAL)
  pressure (REAL)
  visib (REAL)
  time_hour (REAL)

Table: airlines
  carrier (TEXT)
  name (TEXT)

In [20]:
import pandas as pd
# Visualize the tables using pandas
# 1. Airlines table (carrier codes and full names)
airlines_query = "SELECT * FROM airlines"
airlines_df = pd.read_sql_query(airlines_query, con)
print("AIRLINES TABLE:")
print(airlines_df)
print("\n" + "="*50 + "\n")

# 2. Airports table (airport information)
airports_query = "SELECT * FROM airports"
airports_df = pd.read_sql_query(airports_query, con)
print("AIRPORTS TABLE:")
print(airports_df)
print("\n" + "="*50 + "\n")

# 3. Sample of flights table (it's usually too large to show all)
flights_query = """
SELECT 
    year, month, day,
    carrier, flight,
    origin, dest,
    dep_time, arr_time,
    dep_delay, arr_delay
FROM flights 
LIMIT 5
"""
flights_df = pd.read_sql_query(flights_query, con)
print("FLIGHTS TABLE (Sample):")
print(flights_df)
print("\n" + "="*50 + "\n")

# 4. Sample of weather table
weather_query = """
SELECT 
    origin, year, month, day, hour,
    temp, wind_speed, wind_dir, precip, visib
FROM weather 
LIMIT 5
"""
weather_df = pd.read_sql_query(weather_query, con)
print("WEATHER TABLE (Sample):")
print(weather_df)

AIRLINES TABLE:
   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

==================================================

AIRPORTS TABLE:
      faa                           name        lat         lon     alt   tz  \
0     04G              Lansdowne Airport  41.130472  -80.619583  1044.0 -5.0
1     06A  Moton Field Municipal Airport  32.460572  -85.680028   264.0 -6.0
2     06C            Schaumburg Regional  41.989341  -88.101243   801.0 -6.0
3     06N                Randall Airport  41.431912  -74.391561   523.0 -5.0
4     09J          Jekyll Island Airport  31.074472  -81.427778    11.0 -5.0
...   ...                            ...        ...         ...     ...  ...
1453  ZUN                     Black Rock  35.083228 -108.791778  6454.0 -7.0
1454  ZVE         New Haven Rail Station  41.298669  -72.925992     7.0 -5.0
1455  ZWI      Wilmington Amtrak Station  39.736667  -75.551667     0.0 -5.0
1456  ZWU       Washington Union Station  38.897460  -77.006430    76.0 -5.0
1457  ZYP                   Penn Station  40.750500  -73.993500    35.0 -5.0

     dst             tzone
0      A  America/New_York
1      A   America/Chicago
2      A   America/Chicago
3      A  America/New_York
4      A  America/New_York
...   ..               ...
1453   A    America/Denver
1454   A  America/New_York
1455   A  America/New_York
1456   A  America/New_York
1457   A  America/New_York

[1458 rows x 8 columns]

==================================================

FLIGHTS TABLE (Sample):
   year  month  day carrier  flight origin dest  dep_time  arr_time  \
0  2013      1    1      UA    1545    EWR  IAH       517       830
1  2013      1    1      UA    1714    LGA  IAH       533       850
2  2013      1    1      AA    1141    JFK  MIA       542       923
3  2013      1    1      B6     725    JFK  BQN       544      1004
4  2013      1    1      DL     461    LGA  ATL       554       812

   dep_delay  arr_delay
0        2.0       11.0
1        4.0       20.0
2        2.0       33.0
3       -1.0      -18.0
4       -6.0      -25.0

==================================================

WEATHER TABLE (Sample):
  origin  year  month  day  hour   temp  wind_speed  wind_dir  precip  visib
0    EWR  2013      1    1     1  39.02    10.35702     270.0     0.0   10.0
1    EWR  2013      1    1     2  39.02     8.05546     250.0     0.0   10.0
2    EWR  2013      1    1     3  39.02    11.50780     240.0     0.0   10.0
3    EWR  2013      1    1     4  39.92    12.65858     250.0     0.0   10.0
4    EWR  2013      1    1     5  39.02    12.65858     260.0     0.0   10.0

### The `cursor` object
The cursor object is used to perform queries and fetch results. `cur.execute(query)` will execute `query` and return a results object:

In [23]:
for row in cur.execute('select * from sqlite_master'):
  print(row)

('table', 'flights', 'flights', 2, 'CREATE TABLE `flights` (\n  `year` INTEGER,\n  `month` INTEGER,\n  `day` INTEGER,\n  `dep_time` INTEGER,\n  `sched_dep_time` INTEGER,\n  `dep_delay` REAL,\n  `arr_time` INTEGER,\n  `sched_arr_time` INTEGER,\n  `arr_delay` REAL,\n  `carrier` TEXT,\n  `flight` INTEGER,\n  `tailnum` TEXT,\n  `origin` TEXT,\n  `dest` TEXT,\n  `air_time` REAL,\n  `distance` REAL,\n  `hour` REAL,\n  `minute` REAL,\n  `time_hour` REAL\n)')
('table', 'airports', 'airports', 5411, 'CREATE TABLE `airports` (\n  `faa` TEXT,\n  `name` TEXT,\n  `lat` REAL,\n  `lon` REAL,\n  `alt` REAL,\n  `tz` REAL,\n  `dst` TEXT,\n  `tzone` TEXT\n)')
('table', 'weather', 'weather', 5438, 'CREATE TABLE `weather` (\n  `origin` TEXT,\n  `year` INTEGER,\n  `month` INTEGER,\n  `day` INTEGER,\n  `hour` INTEGER,\n  `temp` REAL,\n  `dewp` REAL,\n  `humid` REAL,\n  `wind_dir` REAL,\n  `wind_speed` REAL,\n  `wind_gust` REAL,\n  `precip` REAL,\n  `pressure` REAL,\n  `visib` REAL,\n  `time_hour` REAL\n)')
('table', 'airlines', 'airlines', 5921, 'CREATE TABLE `airlines` (\n  `carrier` TEXT,\n  `name` TEXT\n)')

In [25]:
res = cur.execute("select * from flights limit 10")
for row in res:
    print(row)

(2013, 1, 1, 517, 515, 2.0, 830, 819, 11.0, 'UA', 1545, 'N14228', 'EWR', 'IAH', 227.0, 1400.0, 5.0, 15.0, 1357034400.0)
(2013, 1, 1, 533, 529, 4.0, 850, 830, 20.0, 'UA', 1714, 'N24211', 'LGA', 'IAH', 227.0, 1416.0, 5.0, 29.0, 1357034400.0)
(2013, 1, 1, 542, 540, 2.0, 923, 850, 33.0, 'AA', 1141, 'N619AA', 'JFK', 'MIA', 160.0, 1089.0, 5.0, 40.0, 1357034400.0)
(2013, 1, 1, 544, 545, -1.0, 1004, 1022, -18.0, 'B6', 725, 'N804JB', 'JFK', 'BQN', 183.0, 1576.0, 5.0, 45.0, 1357034400.0)
(2013, 1, 1, 554, 600, -6.0, 812, 837, -25.0, 'DL', 461, 'N668DN', 'LGA', 'ATL', 116.0, 762.0, 6.0, 0.0, 1357038000.0)
(2013, 1, 1, 554, 558, -4.0, 740, 728, 12.0, 'UA', 1696, 'N39463', 'EWR', 'ORD', 150.0, 719.0, 5.0, 58.0, 1357034400.0)
(2013, 1, 1, 555, 600, -5.0, 913, 854, 19.0, 'B6', 507, 'N516JB', 'EWR', 'FLL', 158.0, 1065.0, 6.0, 0.0, 1357038000.0)
(2013, 1, 1, 557, 600, -3.0, 709, 723, -14.0, 'EV', 5708, 'N829AS', 'LGA', 'IAD', 53.0, 229.0, 6.0, 0.0, 1357038000.0)
(2013, 1, 1, 557, 600, -3.0, 838, 846, -8.0, 'B6', 79, 'N593JB', 'JFK', 'MCO', 140.0, 944.0, 6.0, 0.0, 1357038000.0)
(2013, 1, 1, 558, 600, -2.0, 753, 745, 8.0, 'AA', 301, 'N3ALAA', 'LGA', 'ORD', 138.0, 733.0, 6.0, 0.0, 1357038000.0)

(Actually, `res` is just the original cursor itself):

### Fetching results
To retrieve results, use the `cur.fetchone()` or `cur.fetchall()` methods:

In [27]:
cur.fetchone()

This returns a tuple containing one entry for each column in our `SELECT` statement.

If you want all the rows, use `cur.fetchall()`:

In [29]:
len(res.fetchall())

0

Notice that `.fetchall()` works like an iterator--we `SELECT`ed 10 rows, fetched one of them using `.fetchone()`, and then fetched the remaining 9 using `.fetchall()`. If we run this again we'll get zero rows back because we already fetched everything:

In [31]:
len(res.fetchall())

0

### Parameterized queries

Sometimes our queries must depend on user input. Consider the following query which returns all the flights that happened in a certain month:

In [8]:
def num_flights_in_month(month):
    query = f"SELECT COUNT() FROM flights WHERE month = {month}"
    return cur.execute(query).fetchone()[0]

num_flights_in_month(12)

28135

In [18]:
query = """
SELECT 
    month, 
    COUNT() as flight_count
FROM flights
GROUP BY month
ORDER BY month
"""
cur.execute(query).fetchone()

(1, 27004)

In [37]:
res = cur.execute("SELECT COUNT() FROM flights WHERE month = 1")
row = res.fetchone()
print(row)  # Might print something like: (2500,)  <- Note the comma, it's a tuple!
print(len(row))

(27004,)
1

For queries that depend on a parameter, we can use the special placeholder `?` to have the database do parameter substitution for us:

In [39]:
def num_flights_in_month(m):
    query = """
        SELECT COUNT() FROM flights WHERE month = ?
    """
    return cur.execute(query, [m]).fetchone()[0]

num_flights_in_month(1)

27004

Using multiple placeholders is possible:

In [41]:
def num_flights_on_day(m, d):
    query = """SELECT COUNT() FROM flights WHERE month = ? AND day = ?"""
    result = cur.execute(query, [m, d]).fetchone()
    print(result)
    return result[0]

num_flights_on_day(12, 25)

(719,)

719

## Some questions about `flights`

Now we will use SQL queries to various questions about the `flights` dataset.

### Which airport is the busiest?
We need to aggregate `flights` by the `origin` column, and they count the number of rows in each group.

In [14]:
cur.execute("SELECT origin, COUNT() FROM flights GROUP BY origin").fetchall()

[('EWR', 120835), ('JFK', 111279), ('LGA', 104662)]

In [46]:
cur.execute("SELECT origin, COUNT() as flight_count FROM flights GROUP BY origin ORDER BY flight_count ASC").fetchall()

[('LGA', 104662), ('JFK', 111279), ('EWR', 120835)]

### Which month was coldest?
We need to aggregate `weather` by `month`, and the compute some measure of coldness.

In [31]:
cur.execute("SELECT month, AVG(temp) FROM weather GROUP BY month order by avg(temp)").fetchall()

[(2, 34.27059701492537),
 (1, 35.63566037735849),
 (12, 38.44180037313433),
 (3, 39.88007184553211),
 (11, 44.9904343764596),
 (4, 51.74564150069477),
 (10, 60.07113019891501),
 (5, 61.795),
 (9, 67.37129226493747),
 (6, 72.184),
 (8, 74.46846570397112),
 (7, 80.06622082585278)]

### What is the most popular carrier at each of the three NYC airports?
This one is a bit trickier. We start by counting the number of flights for each combination of `carrier` and `origin`:

In [39]:
cur.execute('''SELECT origin, carrier, COUNT() FROM flights
GROUP BY origin, carrier
ORDER BY  count() desc''').fetchall()

[('EWR', 'UA', 46087),
 ('EWR', 'EV', 43939),
 ('JFK', 'B6', 42076),
 ('LGA', 'DL', 23067),
 ('JFK', 'DL', 20701),
 ('LGA', 'MQ', 16928),
 ('LGA', 'AA', 15459),
 ('JFK', '9E', 14651),
 ('JFK', 'AA', 13783),
 ('LGA', 'US', 13136),
 ('LGA', 'EV', 8826),
 ('LGA', 'UA', 8044),
 ('JFK', 'MQ', 7193),
 ('EWR', 'B6', 6557),
 ('EWR', 'WN', 6188),
 ('LGA', 'WN', 6087),
 ('LGA', 'B6', 6002),
 ('JFK', 'UA', 4534),
 ('EWR', 'US', 4405),
 ('EWR', 'DL', 4342),
 ('JFK', 'VX', 3596),
 ('EWR', 'AA', 3487),
 ('LGA', 'FL', 3260),
 ('JFK', 'US', 2995),
 ('LGA', '9E', 2541),
 ('EWR', 'MQ', 2276),
 ('EWR', 'VX', 1566),
 ('JFK', 'EV', 1408),
 ('EWR', '9E', 1268),
 ('EWR', 'AS', 714),
 ('LGA', 'F9', 685),
 ('LGA', 'YV', 601),
 ('JFK', 'HA', 342),
 ('LGA', 'OO', 26),
 ('EWR', 'OO', 6)]

This got us all the records. But we want only the only the most popular carrier for each airport

Next, we need to rank the carriers within origin by their counts. Notice this is using a subquery to get the result

```SELECT * FROM (<another query>)```

In [ ]:
cur.execute(
    """
    SELECT origin, carrier, n, RANK() OVER (
        PARTITION BY origin
        ORDER BY n desc
    ) AS r FROM
    (SELECT origin, carrier, COUNT() as n FROM flights GROUP BY carrier, origin)
"""
).fetchall()

Finally, to find the most popular carriers, we can filter this table to only the rows where `rank=1`. To do this I will extend the query with the 'where' clause

In [ ]:
cur.execute("""
    SELECT * FROM (SELECT carrier, origin, n, RANK() OVER (
        PARTITION BY origin
        ORDER BY n DESC
    ) AS r FROM
    (SELECT COUNT() as n, carrier, origin FROM flights GROUP BY carrier, origin)
    ) WHERE r = 1
""").fetchall()

### What are the busiest travel weeks of the year?
We need to figure out the week of each flight, and then aggregate them. To manipulate dates in sqlite, we have the [`strftime()` function](https://www.sqlite.org/lang_datefunc.html):

In [37]:
cur.execute("""SELECT strftime('%M', 'now')""").fetchone()

('13',)

### The Unix epoch
The `time_hour` column in `flights` looks like:

In [ ]:
cur.execute("""SELECT time_hour FROM flights""").fetchone()

This number represents the number of seconds that have elapsed since midnight GMT on January 1, 1970, a date known as the [Unix epoch](https://en.wikipedia.org/wiki/Unix_time). We can use `strftime()` on these dates provided we tell it how they are formatted.

In [ ]:
# datetime() is an alias for strftime('%Y-%m-%d %H:%M:%S', ...)
cur.execute("""SELECT datetime(1357034400, 'unixepoch')""").fetchone()

Now we can convert each date to a week of the year:

In [ ]:
pd.read_sql_query(
    """
    SELECT year, month, day, strftime('%W', time_hour, 'unixepoch') as week
from flights""",
    con,
)

The final query looks like:

In [ ]:
con.execute(
    """
    SELECT COUNT() as n, strftime('%W', time_hour, 'unixepoch') as week FROM flights
    GROUP BY week
    ORDER BY n DESC
    LIMIT 5
"""
).fetchall()

### What were the ten worst days for average departure delay?

In [ ]:
con.execute('''SELECT year, month, day, AVG(dep_delay) AS avg_delay
            FROM flights GROUP BY year, month, day
            ORDER BY avg_delay DESC
            LIMIT 10''').fetchall()

### What were the ten best days for departure delay?

In [ ]:
con.execute('''SELECT year, month, day, AVG(dep_delay) AS avg_delay
            FROM flights GROUP BY year, month, day
            ORDER BY avg_delay ASC
            LIMIT 10''').fetchall()

### What airlines have the most departure delay?

In [ ]:
con.execute('''SELECT airlines.carrier, name, AVG(dep_delay) AS avg_delay
            FROM flights
            JOIN airlines on airlines.carrier = flights.carrier
            GROUP BY airlines.name
            ORDER BY avg_delay DESC
            LIMIT 10''').fetchall()

## Using *Having* clause
Which airlines have average departure delays between 5-10 minutes?

In [ ]:
con.execute('''SELECT airlines.carrier, name, AVG(dep_delay) AS avg_delay
            FROM flights
            JOIN airlines on airlines.carrier=flights.carrier
            GROUP BY airlines.name
            HAVING avg_delay between 5 and 10''').fetchall()

### What airplane flew the most days?
Airplanes are identified by their tail number.

In [ ]:
cur.execute('''SELECT tailnum, COUNT() AS n FROM
    (SELECT DISTINCT year, month, day, tailnum FROM flights)
    GROUP BY tailnum
    ORDER BY n DESC
    LIMIT 1
''').fetchall()

Interestingly, you can Google most tail numbers: [N328AA](https://www.planespotters.net/airframe/boeing-767-200-n328aa-american-airlines/enj523).

### How many flights were cancelled?
We'll say that a cancelled flight has `dep_time` missing.

In [ ]:
cur.execute('''SELECT COUNT() FROM flights WHERE dep_time IS NULL''').fetchone()

Notice that we don't write `= NULL`. That does not work:

In [ ]:
cur.execute('''SELECT COUNT() FROM flights WHERE dep_time = NULL''').fetchone()

### How many flights were destined for airports with a one word name?

(Not including the word "airport")

Here is an example of an airport with a one-word name:

In [ ]:
cur.execute("SELECT * FROM airports WHERE name = 'Packwood'").description

In [ ]:
cur.execute("SELECT faa, name FROM airports WHERE name NOT LIKE '% %'").fetchall()

In [ ]:
cur.execute(
    """
    SELECT COUNT() FROM flights
    INNER JOIN (SELECT faa FROM airports WHERE name NOT LIKE '% %') one_word
    ON one_word.faa = flights.dest
    """
).fetchall()